<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZTrayClock.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ZTrayClock.Properties.Settings>
            <setting name="Font" serializeAs="String">
                <value>Calibri, 14.25pt</value>
            </setting>
            <setting name="FontStyle" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="LeadingZeroes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplayAMPM" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimeFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </ZTrayClock.Properties.Settings>
    </userSettings>
</configuration>